<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change data</title>
</head>
<body>
    <h1>New product:</h1>
    <form action="/admin" method="post">
        Product title:<br> <input type="text" name="title"><br>
        Category:<br> <input type="text" name="category"><br>
        Price:<br> <input type="number" name="price"><br>
        In stock:<br> <input type="text" name="instock"><br>
        Quantity:<br> <input type="number" name="quantity"><br>
        <br><input type="submit">
    </form>
</body>
</html>